*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", system-ui;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.logo{
    width: 130px;
    height: 130px;
}
.list-items{
    list-style: none;
    display:inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
}
.links:hover{
    color: rgb(220, 7, 7);
    text-decoration: underline;
}
.homeContent{
    margin: 13% 0px 0px 8%;
}
#username{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Playwrite CU", system-ui;
}
#lname{
    font-family: "Playwrite CU", system-ui;
    color: orange;
}
#userDetails{
    line-height: 1.4;
    font-size: 18px;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}
.homeImage{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 30%;
    transform: translateX(-30%);
    transition: bottom 1.5s, left 1s;
}
.homeImage:hover #shape{
    bottom: 60px;
}
.homeImage:hover #girl{
    left: 15%;
}


/* about */
#about{
    margin: 25% 8% 0px 8%;
}
.sectionHead{
    text-align: center;
}
.mainHead{
    font-size: 40px;
}
.subhead{
    font-size: 25px;
    color: green;
}
.aboutBody{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;

}
.img1{
    width: 80%;
}
.aboutcontent{
    font-size: 20px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.infoBox{
    margin-bottom: 10px;
}
.infoBox>span{
    margin-left: 10px;
}

/* skill */
#skill{
    margin: 10% 8% 0px 8%;
}
.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    align-items: center;
    margin-top: 20px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barHead, .barpercent{
font-weight: 500;
font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.htmlbar{
    background-color: orange;
    width: 89%;
}
.cssbar{
    background-color: orange;
    width: 83%;
}
.jsbar{
    background-color: orange;
    width: 71%;
}
.reactbar{
    background-color: orange;
    width: 79%;
}
.contact{
    margin: 8% 8% 0px 8%;
}
.iconCollections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    /* border: solid; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right, rgb(38, 163, 226), rgb(14, 187, 185), rgb(211, 239, 34));
}
.icon:hover .brands{
    color: aliceblue;
    animation: rotate 2s;
}
@keyframes rotate{
    0%{
        transform: rotate(40deg);
    }
    20%{
        transform: rotate(-40deg);
    }
    40%{
        transform: rotate(40deg);
    }
    60%{
        transform: rotate(-40deg);
    }
    80%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(-40deg);
    }
    
}
footer{
    margin: 3% 0px 0px 0px;
}
#copyright{
    text-align: center;
    font-weight: 600;
}

.uparrow{
    float: right;
    margin-top: -30px;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: antiquewhite;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(55, 67, 68);
    border-radius: 10px;
}